@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");

html {
    font-size: 16px;
    color: #0A0412;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #282828;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

#nav {
    background-color: #4D4D4D;
		text-align: center;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 99;
		cursor: default;
		height: 3.5em;
		line-height: 3.5em;
}

#nav ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

#nav li {
    display: inline-block;
    padding-left: 0;
}

#nav a {
    transition: background-color .3s ease-in-out;
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
    border-radius: 8px;
    color: #fff;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1.25em;
}

#nav a:hover {
    color: #fff;
    background: #616161;
}

section {
    margin-bottom: 0;
    padding: 5em 0 5em 0;
    width: 100%;
}

#introSection {
    padding: 5em 0 2.5em 0;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#introContainer {
    display: flex;
}

#introImg {
    display: inline-block;
}

#introImg img {
    width: 20em;
    height: 20em;
    object-fit: contain;
    border-radius: 50%;
}

#introContent {
    height: inherit;
    color: #c9c9c9;
    text-align: left;
    margin: auto;
    padding-left: 2em;
}

#introContent header {
    display: block;
}

#introContent p {
    font-size: 1.5em;
    line-height: 1.75em;
    display: block;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #c0b9ae;
    letter-spacing: -0.015em;
}

h1 {
    font-size: 3.25em;
    letter-spacing: -0.025em;
    font-weight: 300;
}

h1 strong, h2, h3 {
    font-weight: 700;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

header {
    margin-bottom: 4em;
    padding: 0 0 0 3em;
}

/* 
Background color gradient 9 steps
#282828
#2d2d2d
#323232
#363636
#3b3b3b
#404040
#464646
#4b4b4b
#505050
 */


#bioSection {
    background-color: #2d2d2d;
}

#expEduSection {
    background-color: #323232;
}

#qASection {
    background-color: #363636;
}

#finalMessageSection {
    background-color: #3b3b3b;
}

#top10 {
    background-color: #404040;
}

#bioSection p {
    width: 950;
    margin: 0 5em 0 5em;
    padding: 2em;
    background-color: #242525;
    color: #c5c5c5;
    line-height: 150%;
}

#expEduContainer {
    display: flex;
    justify-content: center;
}

.eEBox {
    width: 30%;
    display: block;
    align-items: center;
    background-color: #242525;
    margin: 1em;
    padding: 1em;
    color: #c5c5c5;
}

.eEBox h3 {
    text-align: center;
}

.eEBox ul {
    list-style: inside;
    padding: 1em;
    margin: 1em;
    background-color: #323232;
}

#qASection button {
    background-color: #7fffd4;
    transition: background-color .3s ease-in-out;
    color: #260F43;
    padding: 5px;
    margin: auto;
    border-style: none;
    border-radius: 5px;
    width: 15%;
}

#qASection button:hover {
    background-color: rgb(27, 233, 164);
}

#quizAnswerSection {
    visibility: hidden;
    width: 90%;
    margin: auto;
    border: thin solid black;
    background-color: #242525;
    padding: 10px;
}

.qABox {
    color: #c5c5c5;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.qABox h3 {
    padding: 1em;
    text-align: center;
}

#quizAnswerSection p {
    padding: 5px;
    border-bottom: 1px solid black;
    line-height: 150%;
}

#finalMessageSection p {
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #242525;
    color: #c5c5c5;
}

#t10Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#t10Box h3 {
    text-align: center;
    padding: 1em;
}

#t10Box ol {
    list-style-type: upper-roman;
    padding: 1em;
    margin: auto;
    background-color: #242525;
    list-style-position: inside;
}

#t10Box li {
    padding: 0.2em;
    color: #c5c5c5;
}

footer {
    height: 5vh;
    width: 100%;
    margin-top: auto;
    background-color: #7fffd4;
    border-top: thin solid black;
}