html {
    font-size: 16px;
    color: #FFFFFF;
}

header {
    height: 5vh;
    width: 100%;
    margin: 0 auto;
    background-color: aquamarine;
    border-bottom: thin solid black;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #50514f;
    justify-content: center;
}

section {
    color: #0A0412;
}

main h1 {
    font-size: 32px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    text-shadow: black 0px 0px 4px;
    width: 10%;
    margin: 10px auto;
    background-color: #07004d;
    border: 1px solid black;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

#finalMessageSection, #bioSection, #qASection {
    background-color: #53a2be;
    width: 80%;
    margin: 10px auto 10px auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px ;
}

#bioSection p {
    width: 95%;
    margin: auto;
    padding: 10px;
}

#qASection button {
    background-color: #eb8a90;
    border: solid thin black;
    color: #260F43;
    padding: 5px;
    display: inline-block;
    border-radius: 50px;
}

#qASection button:hover {
    background-color: #E66A71;
}

#quizAnswerSection {
    visibility: hidden;
    width: 90%;
    margin: auto;
    border: thin solid black;
    background: #eb8a90;
    padding: 10px;
}

#quizAnswerSection p {
    padding: 5px;
    border-bottom: 1px solid black;
}

footer {
    height: 5vh;
    width: 100%;
    margin-top: auto;
    background-color: #7fffd4;
    border-top: thin solid black;
}